<server>
    <featureManager>
        <feature>springBoot-3.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="8081" httpsPort="-1"/>

    <!-- <application type="springBoot">
        <applicationLocation>/config/apps/demo-0.0.1-SNAPSHOT.jar</applicationLocation>
    </application> -->
    <springBootApplication id="spring-boot" 
                           location="/config/apps/demo-0.0.1-SNAPSHOT.jar"
                           name="spring-boot" />
</server>
